hr{
    height:2px;
    border: 1px solid black;
    background: black; 
    margin-top: 0px;
}

p{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px; 
    margin-bottom: 0px;
}

ul{
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}