{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}
        
{% block page_content %}

    <div class="active-trend-section">
        <div class="row">
            <div class="col-md-auto btn btn-md btn-info">
                abcd
            </div>
            <div class="col-md-auto btn btn-md btn-info">
                abcd
            </div>
            <div class="col-md-auto btn btn-md btn-info">
                abcd
            </div>
            <div class="col-md-auto btn btn-md btn-info">
                abcd
            </div>
            
        </div>
    </div>
    <div class="trend-information">
        
    </div>

{% endblock %}
    

{% block extra_js %}
    <script type="text/javascript" src="{% static 'prime/js/homepage.js' %}"></script>
{% endblock %}