{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'prime/css/homepage.css' %}">
{% endblock %}
        
{% block page_content %}

    <!-- ACTIVE TREND SECTION -->
    <div id="active-trend-section">
        <div id="active-trend-row" class="row">
            <div class="col col-md-auto mb-3">
                <div class="bg-danger text-white rounded-pill py-1 px-2">
                    TRENDING
                </div>
            </div>
            <div id="active-trend-not-available-tag" class="col col-md-auto mb-3">
                <div class="border border-danger rounded-pill py-1 px-2 text-danger">
                    Trending Data not Available (-_-)zzz
                </div>
            </div>
            <div id="active-trend-example-tag" class="active-trend col col-md-auto mb-3" style="display: none">
                <div class="btn btn-md btn-outline-primary rounded-pill">
                </div>
            </div>
            <div id="see-more-trends" class="col col-md-auto mb-3">
                <a id="fill-arch-link-tag" href="#" class="bg-info btn btn-md rounded-pill">
                    See More Trends
                </a>
            </div>
        </div>
    </div>

    <hr class="rounded-pill">


    <!-- TAG SECTION -->
    <div id="trend-information-not-available-tag" class="col col-md-12">
        <h1 class="text-center">
            <div class="border border-danger rounded-pill py-1 px-2 text-danger">
                SELECT A TREND
            </div>
        </h1>
    </div>

    <div id="loading-div" style="display: none;">
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center">
                <strong>Fetching Content</strong>
            </div>
            <div class="d-flex justify-content-center col-md-auto">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <!-- TREND INFORMATION SECTION -->
    <div id="trend-information-section" style="display: none;">
        <div id="trend-information-row" class="row m-2">
            <!-- Information Side -->
            <div class="col col-md-5 px-2 info-side">
                <h2 class="text-center text-danger">
                    TREND INFO
                </h2>
                <ul class="ml-3">
                    <li>
                        <div class="row">
                            <p class="col col-md-auto">Name :</p>
                            <p class="trend-information col col-md-auto"></p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <p class="col col-md-auto">Total Tweets :</p>
                            <p class="trend-information col col-md-auto"></p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <p class="col col-md-auto">Top Trending :</p>
                            <p class="trend-information col col-md-auto"></p>
                        </div>
                    </li>
                </ul>

                <div class="row py-3 ml-3">
                    <p>Sentiment Analysis done on</p>
                    <div class="trend-information text-center" style="font-size: 20px;"></div>
                     <p>popular or recent tweets.</p>
                </div>

                <ul class="ml-3">
                    <li>
                        <div class="row">
                            <p class="col col-md-auto">Positive Percentage :</p>
                            <p class="trend-information col col-md-auto"></p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <p class="col col-md-auto">Neutral Percentage :</p>
                            <p class="trend-information col col-md-auto"></p>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <p class="col col-md-auto">Negative Percentage :</p>
                            <p class="trend-information col col-md-auto"></p>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- GRAPH Side -->
            <div id="chartContainer" class="col-md-auto graph-side mt-2"></div>

        </div>

        <!-- embed Section -->
        <div id="embed-section">

            <!-- Positive Card -->
            <div class="card mt-3">
                <div class="card-header bg-info">
                    Positive Sentiments
                </div>
                <div id="positive-sentiment-card-body" class="card-body row"></div>
            </div>

            <!-- Neutral Card -->
            <div class="card mt-3">
                <div class="card-header bg-info">
                    Neutral Sentiments
                </div>
                <div id="neutral-sentiment-card-body" class="card-body row"></div>
            </div>

            <!-- Negative Card -->
            <div class="card mt-3">
                <div class="card-header bg-info">
                    Negative Sentiments
                </div>
                <div id="negative-sentiment-card-body" class="card-body row"></div>
            </div>

        </div>
    </div>

{% endblock %}
    

{% block extra_js %}
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script type="text/javascript" src="{% static 'prime/js/homepage.js' %}"></script>

{% endblock %}