{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'prime/css/homepage.css' %}">
{% endblock %}
        
{% block page_content %}

    <div class="active-trend-section">
        <div class="row">
            <div class="col col-md-auto mb-3">
                <div class="border border-danger rounded py-1 px-2 text-danger">
                    TRENDING :
                </div>
            </div>
            <div class="col col-md-auto mb-3">
                <div id="temp" class="btn btn-md btn-outline-primary">
                    <div>
                        a
                    </div>
                </div>
            </div>
            <div class="col col-md-auto mb-3">
                <div class="btn btn-md btn-outline-primary">
                    ab
                </div>
            </div>
            <div class="col col-md-auto mb-3">
                <div class="btn btn-md btn-outline-primary">
                    abcd
                </div>
            </div>
            <div class="col col-md-auto mb-3">
                <div class="btn btn-md btn-outline-primary">
                    a
                </div>
            </div>

            
        </div>
    </div>
    <div class="trend-information">
        
    </div>

{% endblock %}
    

{% block extra_js %}
    <script type="text/javascript" src="{% static 'prime/js/homepage.js' %}"></script>
{% endblock %}