container_commands:
    01_install_libs:
        command: "pip install -r requirements.txt"
    02_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    03_makesuperuser:
        command: "python3.6 manage.py makesuperuser"
        leader_only: true
    04_collectstatic:
        command: "django-admin.py collectstatic --noinput"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: config.production