container_commands:
    01_install_libs:
        command: "pip install -r requirements.txt"
    02_migrate:
        command: "django-admin.py migrate"
        leader_only: true
    03_collectstatic:
        command: "django-admin.py collectstatic --noinput"
    04_fill:
        command: "curl -i http://env-1.b6pimk2whj.ap-south-1.elasticbeanstalk.com/api/prime/foung/"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: config.production