files:

    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            */45 * * * * root /usr/local/bin/myscript.sh

    "/usr/local/bin/myscript.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            curl -i -H "Foung-Required-Key: jfhjturicdkjvnfjdksdkdsjkfd854784589fduidfjhfsjh342897" http://trend-anaylzer-env.ksmsub4jne.ap-south-1.elasticbeanstalk.com/api/prime/foung/ > /dev/null 2>&1

            exit 0

container_commands:
    01_remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: config.production