html, body{ height:100%; margin:0; }
.footer-content{ height:138px; background:PapayaWhip; }

/* Trick */
body{ 
  display:flex; 
  flex-direction:column; 
}

.footer-content{
  margin-top:auto; 
}
 
hr{
    height:2px;
    border: 1px solid black;
    background: black; 
    margin-top: 0px;
}

p{
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px; 
    margin-bottom: 0px;
}

ul{
    font-size: 25px;
    margin: 0px;
    padding: 0px;
}