{% load static %}

{% block footerSpace %}

<footer class="pt-4 pb-3 px-4 bg-dark">
        <div class="d-flex justify-content-center">
            <a href="https://github.com/kartikgiri92" class="m-2 px-3" style="color: #ffffff" target="_blank">
                <i class="fa fa-github fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://www.linkedin.com/in/kartik-giri-140518133/" class="m-2 px-3" style="color: #ffffff"  target="_blank">
                <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
            </a>
        </div>
        <div class="d-flex justify-content-center" style="color: black">
            <a href="https://kartikgiri92.github.io/" style="color: #ffffff"  target="_blank">kartikgiri92.github.io</a>
        </div>
        <div class="d-flex justify-content-center" style="color: black">
            Mail - kartikgiri92@gmail.com<br>
        </div>
</footer>

{% endblock %}