{% load static %}

{% block navigationbar %}
    
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand md-2" href="#">Twitter Trend Analyzer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar123" aria-controls="navbar123" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbar123">
            <div >
                Region : <button class="btn btn-sm btn-outline-primary" type="button">INDIA</button>
            </div>
        </div>
    </nav>

{% endblock %}