{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Twitter Trend Analyzer"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    {% block title %}
        <title>Twitter Trend Analyzer</title>
    {% endblock %}

    <!-- BootStrap CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Global Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    {% block extra_css %}

    {% endblock %}
    
</head>
<body>
    <div class="wrapper">
        <div class="navigationbar">
            <!-- Navigation Bar Block -->
            {% block navigationbar %}
                {% include "base_navbar.html" %}
            {% endblock %}
        </div>
        <div class="page_content">
            {% block page_content %}
            {% endblock page_content %}
        </div>
    </div>    


    <!-- Global Scripts -->
    <script>
        document.querySelector('#homepage-link').href = window.location.origin
    </script>

    <!--Extra Js -->
    {% block extra_js %}
    {% endblock %}

</body>

</html>
